@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "poppins";
  background-color: #0c0e19;
}

header{
  max-width: 80%;
  margin-left: 150px;
  margin-right: 150px;
  color: rgb(206, 203, 215);
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}

header .links{
  margin-left: 0%;
}

header a{
  margin-left: 80px;
  text-decoration: none;

}

.buttons{
  margin-left: auto;
}

header .sign_up_btn, .login_btn1{
  font-size: 14px;
  margin: 0;
  margin-left: 5px;  
}






.title{
  font-size: 14px;
  font-weight: 500;
}

.logo img{
  padding-right: 5px;
  height: 15px;
  width: 15px;
}
.logo{
  padding: 0;
  margin-top: 3px;
}

.content{
  color: rgb(206, 203, 215);

}

.text_content{
  text-align: center;
  margin: 100px;
}

 /* title and logo */
.text_content .title1{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.text_content title img{
  height: 20px;
  width: 22px;
}

.title_name{
  font-family:Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 100;
}

/* main heading */
.head1{

  font-size: 80px;
  font-weight: 500;
  letter-spacing:-5px ;
  line-height: 100%;
  padding: 20px;
  background: linear-gradient(45deg, #ffffff,#737373) ,#0c0e19 ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.sub_head{
  margin-top: 20px;
  font-family:Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 50;
  letter-spacing:0px ;
}



button{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 300;
  border: 1px solid rgb(0, 200, 255);
  color: white;
  background: transparent;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: Helvetica;
}

.login_btn, .login_btn1{
  background-color: rgb(0, 200, 255);
  color: white;
}

/* sing in container */

.sign_in_container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;          /* Full viewport height */
}


/* main */

.header2{
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  width: 100vw;
  margin: auto;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg,rgba(81, 81, 81, 0),rgba(148, 148, 148, 0.403),rgba(81, 81, 81, 0))1;
  color: rgb(206, 203, 215);
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}


.header2 a{
  margin-left: 50px;
  text-decoration: none;
  padding: 5px 10px;
  box-sizing: border-box;

}

.header2 .home:hover{
  border-radius: 5px;
  background-color: rgba(114, 114, 114, 0.351);
}

.header2 .create_btn{
  border-radius: 5px;
  background-color: rgb(0, 200, 255);
  color: rgb(41, 41, 41);
}

/* main -> board */

input{
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #7d7d7d3d;
  color: rgba(255, 255, 255, 0.5)
}

#input_btn:-webkit-autofill {
  background-color: transparent !important;
  color: #9BABAB !important;
  transition: background-color 5000s ease-in-out 0s;
}


.tasks{
  margin-left: 250px;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
}

#task{
  display: inline-block;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.586);
}

#task 

#task ul {
  list-style-type: none;
  padding: 0;
}

#task ul li {
  list-style-type: none;
  padding: 5px;

}

#task ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#task button{
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #7d7d7d3d;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}



/* main -> sidebar */


  
.sidebar {
  width: 250px;
  height: 100vh; /* Full height */
  background-color: #33333300; /* Dark background */
  color: #fff;
  padding: 20px;
  position: fixed; /* Makes it stick on scroll */
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

